pipeline/GenerateDailyReport.json
{
    "name": "GenerateDailyReport",
    "properties": {
        "activities": [
            {
                "name": "GetDateToProcess",
                "type": "SetVariable",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "ReportDate",
                    "value": {
                        "value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "FetchLatestStockData",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "GetDateToProcess",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "ParquetSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "wildcardFolderPath": "staging/stock-prices/@{variables('ReportDate')}",
                            "wildcardFileName": "*.parquet"
                        }
                    },
                    "dataset": {
                        "referenceName": "StagingStockPriceDataset",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "FetchLatestFinancialRatios",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "GetDateToProcess",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "ParquetSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "wildcardFolderPath": "gold/financial-ratios",
                            "wildcardFileName": "*.parquet"
                        }
                    },
                    "dataset": {
                        "referenceName": "GoldFinancialRatiosDataset",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "GenerateDailyReport",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "FetchLatestStockData",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "FetchLatestFinancialRatios",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Notebooks/GenerateDailyReport",
                    "baseParameters": {
                        "report_date": {
                            "value": "@variables('ReportDate')",
                            "type": "Expression"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "StoreDailyReport",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "GenerateDailyReport",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "DailyReportCSV",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "GoldDailyReportDataset",
                        "type": "DatasetReference",
                        "parameters": {
                            "ReportDate": {
                                "value": "@variables('ReportDate')",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            }
        ],
        "variables": {
            "ReportDate": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2023-09-17T12:00:00Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}